* {
    margin: 0;
    padding: 0;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


:root {
    --color1: #E5E5E5;
    --color2: #F1DBDA;
    --color3: #fcd0cf;
    --color4: #cfbdbf;
    --color5: #a2a9af;
}

body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white; 
}

.principal {
    padding: 3em;
    max-width: 800px; 
    margin: 0 auto; 
    background-color: var(--color1); 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 100px;
    margin-bottom: 100px;
}
  
h1, h2 {
    color: #333; 
    margin-bottom: 20px; 
}

h1 {
    font-size: 2em; 
}

h2 {
    font-size: 1.5em; 
}

p {
    font-size: 1.1em; 
    line-height: 1.6; 
    color: #666; 
    margin: 10px 0; 
}

.contact-details p {
    margin: 5px 0; 
}

a {
    color: #007BFF; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}