* {
    margin: 0;
    padding: 0;
}


:root {
    --color1: #E5E5E5;
    --color2: #F1DBDA;
    --color3: #fcd0cf;
    --color4: #cfbdbf;
    --color5: #a2a9af;
}

/*HEADER*/

.header {
    background-color: var(--color3);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}


#logo a img {
    width: 80px;
    border-radius: 300px;
    border: solid 2px #222;
}


.search {
    border-radius: 40px;
    border: solid .5px #bb9c9c;
    width: 950px;
    height: 42px;
}

.search:hover {
    border: solid .5px #222;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;  
    font-size: 26px;
}

.nav-links-a {
    text-decoration: none;
    font-weight: bold;
    text-align: end;
    color: #222;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.nav-links a:hover {
    color: white;
}*/



/*MAIN*/
main{
    display: flex;
}

.dispflex{
    display: flex;
    justify-content: center;
    text-align: center;
}

#imagenesrecetas{
    justify-content: space-between;
}

.sectionbodyhome{
    background-color: var(--color2);
}

.tamañoimagen{
    width: 23rem;
    height: 15rem;
}